/* Grid layout 12 column */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* variable color */

:root {
  --primary: #fbfff1;
  --secondary: #03043a;
  --btnPrimary: #0b0ec1;
  --btnSecondary: #098665;
}

/* row and container */

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

/* button style */

.btn {
  padding: 8px;
  border-radius: 8px;
}
