/* Grid layout 12 column */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* variable color */

:root {
  --background--primary: #f1f4e1;
  --background--secondary: #a3a3b8;
  --background--third: #c3cdb7;
  --background--fourth: #ceae64;
  --background--fiveth: #6f96ae;

  --color--primary: #27233a;
  --color--secondary: #ebebeb;
  --color--third: #3d40f5;

  --btnPrimary: #6466f7;
  --btnSecondary: #0cac81;

  --bgr--table--th: #86466c;
  --bgr--table--td: #b26c96;
}

/* row and container */

/* .row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
} */

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  width: 83.33%;
  margin: 0 auto;
}

/* body style */

body {
  color: var(--color--primary);
  background-color: var(--background--primary);
}

/* button style */

.btn {
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
}

.btn--primary {
  color: var(--background--primary);
  background-color: var(--btnPrimary);
  border: 2px solid var(--btnPrimary);
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--background--primary);
  color: var(--btnPrimary);
  transition: all 0.3s;
}

.btn--secondary {
  color: var(--background--primary);
  background-color: var(--btnSecondary);
  border: 2px solid var(--btnSecondary);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--background--primary);
  color: var(--btnSecondary);
  transition: all 0.3s;
}

/* input style */
.input {
  padding: 6px 9px;
  border-radius: 4px;
  font-size: 1.5rem;
}

/* banner */

.banner {
  height: 600px;
  color: var(--color--secondary);
  padding: 20rem 0;
}

/* title */

.title--h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.sub--title--h1 {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 1.9rem;
  text-align: center;
  word-spacing: 5px;
}

.title--h2 {
  font-size: 3rem;
  text-align: center;
}

.title--h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.title--h4 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
