.header--wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header--menu ul {
  font-size: 4.5rem;
  font-weight: 700;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header--menu ul li a {
  color: var(--color--primary);
}

.header--menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color--third);
  transition: all 0.3s;

  display: block;
}

.header--menu ul li a:hover {
  color: var(--color--third);
  transition: all 0.3s;
}

.header--menu ul li a:hover::after {
  width: 100%;
}

.header--options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header--options .search .input--search {
  color: var(--color--secondary);
  background-color: var(--color--primary);
  border: 2px solid var(--color--primary);
}

.header--options .search .input--search:focus {
  color: var(--color--primary);
  background-color: var(--background--primary);
  transition: all 0.3s;
}

.header--options .search button {
  color: var(--background--primary);
  border: 2px solid var(--color--primary);
  border-radius: 4px;
  background-color: var(--color--primary);
  padding: 2px 3px;
  cursor: pointer;
}

.header--options .search button:hover,
.header--options .search button:active {
  background-color: var(--background--primary);
  color: var(--color--primary);
  transition: all 0.3s;
}

.header--options .search button i {
  font-size: 2.1rem;
  vertical-align: sub;
}
